body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
header {
    background-color: #e62117;
    padding: 20px 0;
    color: #fff;
    font-size: 24px;
}
section {
    padding: 20px;
    margin-top: 20px;
}
#authorizedContent {
    display: none;
}
.button {
    padding: 10px 20px;
    background-color: #e62117;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.pokemon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.pokemon {
    margin: 0 10px;
    cursor: pointer;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer;
    display: inline-block;
}

.pokemon-image {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.pokemon-name {
    width: 150px;
    height: auto; 
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #e62117;
    border-radius: 10px;
    z-index: 999;
}

.popup-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(238, 7, 7, 0.963);
    z-index: 9999;
}

.popup-box h2 {
    margin-top: 0;
}

.congratulatory-message {
    background-color: #f8d030;
    padding: 20px;
    border: 2px solid #ffd700;
    border-radius: 10px;
    margin-top: 20px;
}
